.input-wrap{
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid rgb(250, 214, 12);
  border-radius: 1rem;
  overflow: hidden;
}

.input{
  flex: 1;
  height: 4rem;
  outline: none;
  padding: 1rem;
  font-size: 2rem;
  border:none;
}

.dupl{
  background: rgb(250, 214, 12);
  color: white;
}

.btn{
  border: none;
  padding: 1rem 2rem;
  background: rgb(250, 214, 12);
  color: #fff;
  font-size: 2rem;
  outline: none;
  cursor: pointer;
  line-height: 2rem;
}

.btn-add{
  width: 10rem;
  height: 4rem;
}