.list-wrap{
  flex: 6;
  border: 1px solid rgb(250, 214, 12);
  border-radius: 1rem;
  font-size: 2rem;
  overflow: hidden;
  margin: 1.5rem 0;
  position: relative;
}
.list {
  padding: .5rem 2rem 4rem;
  overflow: auto;
  height: 100%;
}

.btn-clear{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.btn-clear:hover{
  background: #fff;
  color: rgb(250, 214, 12);
  border-top: 1px solid rgb(250, 214, 12);
}
.btn-clear:active{
  background: rgb(250, 214, 12);
  color: #fff;
  border: none;
}