.output-wrap{
  height: 15rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.output{
  border: 1px solid rgb(250, 214, 12);
  border-radius: 1rem;
  height: 9.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.6rem;
  font-weight: 900;
}

.btn-stop, .btn-roll{
  border-radius: 1rem;
}

.btn-roll:hover{
  background: #fff;
  color: rgb(250, 214, 12);
  border: 1px solid rgb(250, 214, 12);
}

.btn-stop{
  background: #fff;
  color: rgb(223, 0, 0);
  border: 1px solid rgb(223, 0, 0);
}
.btn-stop:hover{
  background: rgb(223, 0, 0);
  color: #fff;
}

.pick{
  transition-duration: 1.2s;
  transform: rotateX(720deg);
  font-size: 3rem;
}